<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12" *ngFor="let item of weatherForecastData;let i = index">
      <app-weather-card [item] ="item" [weeklyWeatherForecastData] ="weeklyWeatherForecastData"></app-weather-card>
    </div>
  </div>
</div>
