<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <h3>{{item.name}}</h3>
    </mat-card-title>
    <mat-card-subtitle>{{item.day}},{{item.weatherCondition}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-xs-6 templabel">
        <p>{{item.temp_celcius}}°C</p>
      </div>
      <div class="col-xs-6">
        <img class="card-img-top" src="{{item.iconUrl}}">
      </div>
    </div>

    <div [@bodyExpansion]="item.state" class="expandable-content">
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5 text-center">
          <h5><b>Day</b></h5>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 text-center">
          <h5><b>sea level</b></h5>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 text-center">
          <h5><b>Temp.</b></h5>
        </div>
      </div>
      <div class="row mt2" *ngFor="let data of weeklyWeatherForecastData; let k = index">

        <div class="col-xs-5 col-sm-5 col-md-5">
          {{data.weekName}}
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          {{data.main.sea_level}}
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          {{data.temp_max}}/{{data.temp_min}}°C
        </div>
      </div>
    </div>
    <mat-divider>
    </mat-divider>
  </mat-card-content>
  <mat-card-actions class="mat-card-actions">
    <button mat-button (click)="toggle(item)" color="primary">EXPAND</button>
  </mat-card-actions>
</mat-card>
