.card {
    position: relative;
    display: block;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    padding:20px !important;
}

.expandable-content {
    overflow: hidden;
}
.templabel{
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    font-weight: 600;
}
.mat-card-actions{
    padding:5px 5px 5px 10px !important;
}
.mat-divider-horizontal{
    border-color:#d4d4d5 !important;
}
.mt2{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
}