<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Weather App</a>
    </div>
  </div>
</nav>
<br>
<div>
  <app-weather-main></app-weather-main>
</div>