/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px !important;
    line-height: 1.42857143;
    color: #333 !important;
    background-color: #f5f5f5 !important;
}